body {
  padding-top: 50px;
  font-family: 'Comfortaa', cursive !important;
}
.logo{
    text-align: right;
    float: right;
}
.logo-small{
    width: 32px;
    height: 32px;
    vertical-align: top;
    margin-left:5px;
}
.shorten{
    margin-left:50px !important;
    margin-right:50px !important;
}
button.right{
    float:right;
	margin-bottom:2px;
}
a.right{
    float:right;
	margin-bottom:2px;
}
.space{
	margin-top:5px;
}
#numbers{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    display: block;
    clear:both;
}
.floatbut{
    float:left;
    margin-top:2px;
    margin-right: 2px;
}
.squared{
  width:80px;
  height:80px;
}
.small{
  font-size: 0.2em;
}
.squaredsmall{
    width:35px;
    height:35px;
}
.bottombutton{
	margin-top:20px;
	margin-right:20px;
	margin-left:20px;
	margin-bottom:50px;
}
.superlong{
  width:100;
}
.form-signin .long{
  width: 100%;
  margin-bottom: 5px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top:70px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 5px;
}
.alert{
	text-align:center;
}
#fcookies{
    text-align: center;
}
#fcookies img{
    max-width: 300px;
    max-height: 236px;
    cursor: pointer;
    //width:100%;
}
#fcookies .alert{
    margin-top: 70px;
}
.smarttip .panel-body{
    text-align:center;
}

.footer {
  margin-top:100px;
  background-color: #f5f5f5;
  min-height: 100px;
}
.end{
    background-color:black;
    color:white;
    text-align:center;
}
.footer ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   margin-bottom:5px;
}
.centeredButton{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.custom{
    margin-right: 3px;
}
