i.menu {
    font-size: 3em;
    margin-left: 10px;
    margin-top: 5px;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

/* The side navigation menu */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 10; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 0;
   background-color: #111; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   //padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav  a {
   padding: 8px 8px 8px 16px;
   text-decoration: none;
   font-size: 20px;
   color: #818181;
   display: block;
   transition: 0.3s;
}
.sidenav .menu a{
   overflow: hidden;
   min-width: 250px;
}
.sidenav .menu a:first-child{
     padding-top: 16px;
}

.sidenav a.title{
  color: white;
  margin-top:35px;
  overflow: hidden;
  min-width: 250px;
  //font-weight: bold;
  //text-shadow: 2px 2px 4px white;
}
/* When you mouse over the navigation links, change their color */
.sidenav .menu a:hover {
   color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
   transition: margin-left .5s;
   padding: 20px;
}

#black{
  position: fixed;
  width:100%;
  height:100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.s16-9{
  padding-top: 40px;
  height: 25% / min-height: 150px
  //background-color: white;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.s16-9 img.logo{
  margin-left: 16px;
  width: 60px;
  height: 60px;
}

.install{
    width: 100%;
    //max-height: 100px;
    position: absolute;
    bottom: 10px;
    margin-left:-8px;
    text-align: center;
}

.install img{
    width: 170px;
}

@media (min-width:600px) {
  #mySidenav{
    max-width: 300px;
  }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}
