body{
  font-family: 'Comfortaa', cursive !important;
  background-color: #89c5cd;
}
label{
  font-family: 'Comfortaa', cursive !important;
}
button{
  font-family: 'Comfortaa', cursive !important;
}
#huge{
    font-size: 3.5em;
    text-transform: uppercase;
}
.notlong{
  width:300px;
}
#key{
  font-weight: bold;
}
.uppercase{
  text-transform:uppercase;
}
.smallicon{
  max-width: 30px;
  max-height: 30px;
}
.link{
  margin-top:20px;
}
.margine{
  margin-top:20px;
}

.thirty{
  width:30%;
  display: inline-block;
}
.fifty{
  width:60%;
  display: inline-block;
  vertical-align: middle;
}

.middle{
  //padding-top: 30px;
  padding-left: 120px;
}
.quantity{
  display:block;
  text-transform:lowercase;
}
.bigfont{
  font-size: 2.3em !important;
}
.left{
  text-align: left;
}
.maki{
  padding:0px;
  font-family: 'Comfortaa', cursive !important;
  width:70px;
  height:70px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border:solid;
  border-width:0px;
  border-color:black;
  background-color:white;
  box-shadow: 0px +4px 4px  #888888;
  font-size:1.3em;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.elenco .maki{
  margin-bottom:10px;
  margin-left:10px;
}
.maki:active
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.maki:active:before, .maki:active:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.maki:active:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.maki img{
  width:40px;
  height:40px;
}
.smallmaki{
  width:60px;
  height:60px;
  font-size:1em;
}
.smallmaki img{
  width:30px;
  height:30px;
}

.leftspace{
  margin-left: 30px;
}

.selected{
  background-color:#a9bc2e;
}
.deleted{
  background-color:#fe575e;
}
.addmore{
  background-color:#f8cb00;
}
.addmore span{
  margin-top:-10px;
}

.centeredButton{
  text-align:center;
  margin-top: 5px;
}
.centeredButton button{
  margin-left: 1px;
  margin-rigth: 1px;
}
.partnerform_hide{
  display: none;
}
#breakme{

}
.rotate{
  vertical-align: bottom;
  transform: rotate(45deg);
}

.white{
  background-color:white;
}

#fanim{
  max-width: 250px;
  margin-bottom: 20px;
}
.myEm {
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.nolink:link,.nolink:visited,.nolink:hover,.nolink:active {
   text-decoration: none;
   color:#333333;
}

#scrolltop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 180px;
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */

    -webkit-box-shadow:0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#scrolltop i{
  font-size: 2em;
}

#scrolltop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
